.diary{
    /* margin-top: 80px; */
    width: 100%;
    height: 398px;
    background: rgb(255, 89, 89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.diary__title{
    margin-bottom: 83px;
    padding-top: 75px;
    color: #fff;
    font-weight: 300;
    font-family: "ProximaNova-Light";
    font-size: 40px;
}
.diary p{
    font-weight: 300;
    color:  #fff;
    font-size: 2.5rem;
    line-height: 1.55;
    list-style: 150%;
    font-family: "ProximaNova-Light";
    font-size: 22px;
}
.diary__post{
    background-color: white;
    padding: 65px 146px;
}
.post--img{
    width: 100%;
    object-fit: cover;
}
.diary__content {
    background-color: #FAFAFA;
    padding-left: 7rem;
    padding-top: 5rem;
}
.diary__content  h1{
    color: rgb(83, 83, 83);
    font-size: 2.3rem;
    font-weight: 500;
    text-transform: uppercase;
}
.diary__content i{
    margin-bottom: 2rem;
    font-family: ProximaNova-LightIt;
    font-weight: 300;
    margin-top: 2rem;
    display: block;
    color: var(--primary-color);
    font-size: 1.5rem;
}
.diary__content p{
    color: #7c7c7c;
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-family: 'ProximaNova-Regular';
    font-weight: 300;
    line-height: 170%;
}
.diary__content .bg{
    font-size: 16px;
    font-family: "ProximaNova-Regular";
    background-color: white;
    color: var(--primary-color);
    width: 171px;
    height: 31px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    margin-bottom: 1.5rem;
    margin-top: 20px;
    border-radius: 4px;
}
.diary__content a{
    color: var(--primary-color);
}

.diary__content--list {
    margin-top: 5px;
    padding-bottom: 4rem;
    height: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list--icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 142px;
    height: 28px;
}
.list--icon span{
    font-size: 16px;
    color: var(--p--color);
    font-family: "ProximaNova-Light";
}
.list--link {
        padding-right: 76px;
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.list--link img{
    padding: 0 6px;
}
.link__share{
    text-transform: uppercase;
    font-family: "ProximaNova-Light";
    font-size: 18px;
    padding: 3px 25px 0px 0;
    color: var(--p--color);
    padding-right: 1.8rem;
    text-transform: uppercase;
}
.diary__post--buttton {
    display: flex;
    width: 100%;
    height: 226px;
    justify-content: center;
    align-items: center;
}

.diary__post--buttton button  {
    height: 34px;
    background-color: white;
    width: 128px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    transition: 0.5s;
}
.diary__post--buttton button a{
    font-family: "ProximaNova-Light";
    font-size: 1.6rem;
    color: var(--primary-color);
}
.diary__post--buttton span{
    font-family: "ProximaNova-Light";
    color: var(--primary-color);
    font-size: 2.4rem;
    padding: 23px;
}

@media  (max-width:867px) {
    .diary__content {
        overflow: hidden;
        padding: 1rem;
    }
    .diary{
        text-align: center;
        height: 250px;
    }
    .diary__title{
        margin: 6rem 0 3rem;
        font-size: 2.1rem;
    }
    .diary p{
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }
    .diary__post{
       padding: 1rem;
    }
    .list--link{
        font-size: 14px;
        padding: 0;
    }
    .link__share {
        font-size: 14px;
        padding: 0;
    
    }
    .diary__post--buttton{
        height: 204px;

    }
    .diary__post--buttton{
        height: 160px;

    }
    
}