.mb-80{
    margin-bottom: 80px;
}
.content {
    display: flex;
    background: #ff5959;
    padding: 7% 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content__title{
    padding-top: 7%;
    margin-bottom: 62px;
    color: #fff;
    font-family: "ProximaNova-Light";
    font-size: 4rem;
}

.content span{
    margin-bottom: 5rem;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 300;
    font-family: 'ProximaNova-LightIt',sans-serif;
}
.content a {
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    background: #ff5959;
    border-radius: 4px;
    font-family: "ProximaNova-Regular";
    padding: 9px 44px;
    font-size: 16px;
}
.content a:hover{
    background-color: #fff;
    color:  #ff5959;
}
.content__poster {
   background-color: white;
   background-color: white;
   padding: 65px 150px;
}
.content--img {
    width: 100%;
    object-fit: cover;
}
.commnets--imgs{
    width: 153px;
    height: 139px;
    /* padding-left: 150px; */
    object-fit: cover;
}
.poster--bg {
    width: 100%;
    height: 721px;
}
.poster__heading{
    width: 282px;
    height: 56px;
    padding-top: 6.4rem;
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 4.8rem;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 121%;
}
.poster--bg p{
    text-align: justify;
    /* width: 1139px; */
    height: 67px;
    overflow: hidden;
    padding-bottom: 2.2rem;
    margin-top: 22px;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #7A7A7A;
    font-family: "ProximaNova-Regular", sans-serif;
    line-height: 182%;
}
.poster--bg p b{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "ProximaNova-Bold", sans-serif;
    line-height: 121%;
    font-weight: 500;
    color: var(--primary-color);
}
.poster--bg p strong{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-family: "ProximaNova-Regular", sans-serif;
    line-height: 182%;
}
.poster--bg p span{
    font-size: 1.6rem;
    font-family: "ProximaNova-Bold", sans-serif;
    line-height: 182%;
    color: #7A7A7A;
    font-weight: 700;
}
.poster--bg p span em{
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 182%;
}
.post__title{
    height: 56px;
    margin-top: 22px;
    padding-left: 1rem;
    border-left: 3px solid var(--primary-color);
}
.post__title p i small{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-family: "ProximaNova-RegularIt";
    font-weight: 300;
}
.post__title p i em {
    color: #FF726C;
    font-size: 1.6rem;
    line-height: 182%;
    font-weight: 700;
    font-family: "ProximaNova-Bold", sans-serif;
}
.post__btnbtn {
    margin-top: 7.9rem;
    display: flex;
    width: 197px;
    height: 32px;
    color: #FF7171;
    border-radius: 3px;
    border: solid #FF7171;
    font-size: 1.6rem;
    line-height: 119%;
    float: right;
    justify-content: center;
    align-items: center;
    margin-right: 152px;
}

.content--list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 129px;
    background-color: #FAFAFA;
}
.list--icon__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 150px; */
    width: 142px;
    height: 28px;
}
.list--icon span{
    font-size: 14px;
    color: var(--p--color);
}
.list--link__list{
        padding-right: 23px;
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.list--link__list img{
    padding: 0 5px;
}
.link__share{
    color:  var(--p--color);
    padding-right: 1.8rem;
    font-size: 12px;
    text-transform: uppercase;
}
.comments {
    width: 100%;
}
.comments--title{
    font-family: 'ProximaNova-Bold';
    text-transform: uppercase;
    padding-top: 80px;
    font-size: 4.1rem;
    font-weight: 700;
 
}
.comments__pro {
    width: 100%;
    display: flex;
    margin-top: 53px;
}
.comments__pros {
    width: 100%;
    /* margin-left: 150px; */
    display: flex;
}
.comment__maxpains {
    padding-left: 2rem;
    width: 100%;
}
.commnets--imgs {
    height: 139px;
    width: auto;

}
.comments--link__list img{
    padding: 0 5px;

}
.commnets--img{
    height: 139px;
    width: 20%;
    object-fit: contain;
}
.comment__maxpain{
    width: 80%;
    margin-left: 20px;
}
.comment__maxpain h2,
.comment__maxpains h2{
    color: var(--primary-color);
    font-size: 35px;
}
.comment__maxpain small,
.comment__maxpains small{
    display: block;
    margin-top: 9px;
    color: var(--p--color);
    line-height: 182%;
    font-family: "ProximaNova-LightIt";
    font-size: 16px;
}
.commnets--p{
    text-align: justify;
    /* margin-top: 25px; */
    font-size: 1.6rem;
    color: var(--p--color);
    line-height: 182%; 
    font-weight: 300;
    margin: 20px 0 50px;
    font-family: "ProximaNova-Light";
}
.comments__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 129px;
}
.coment-tym{
    display: inline-block;
}
.coment-icon {
    float: right;
}


.list--icon__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 150px; */
    width: 142px;
    height: 28px;
}
.list--icon__item span{
    font-size: 16px;
    color: var(--p--color);
    font-family: "ProximaNova-Light";
}
.list--icon span{
    font-size: 14px;
    color: var(--p--color);
}
.comments--link__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.link__share{
    text-transform: uppercase;
    font-family: "ProximaNova-Light";
    font-size: 18px;
    padding: 3px 25px 0px 0;
    color: var(--p--color);
    padding-right: 1.8rem;
    text-transform: uppercase;
}

.buton {
    padding: 3px 22px;
    font-size: 16px;
    background-color: white;
    font-family: "ProximaNova-Light";
    border: 1px solid var(--primary-color);
    height: 34px;
    width: 128px;
    color: var(--primary-color);
    border-radius: 3px;
    cursor: pointer;
}
.comments__lists{
    width: 100%;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.butons{
   display: none;
}
.box{
    width: 100%;
    
}
.box h2{
    padding-top: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 4.1rem;
    margin-bottom: 33px;
    font-family: 'ProximaNova-Bold';
}

.form{
    display: flex;
    margin-bottom: 2rem;
}

.from-group {
    padding: 6px;
    border-radius: 5px;
    height: 4rem;
    width: 100%;
    display: flex;
    margin: 0 10px 0 0 ;
    border: 1px solid #979797;
}
.from-groups {
    border-radius: 8px;
    height: 4rem;
    width: 100%;
    display: flex;
    margin: 0 10px 0 0;
}
.from-groups  button{
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    border: none;
    color: #fff;
    border: none;
    background-color: #ff5959;
    font-family: "ProximaNova-Regular";
    padding: 23px 82px 34px;
}
.from-groups  button:hover{
    background-color: #7A7A7A;
    color: #FFF;
}
.form-input{
    font-size: 16px;
    font-family: "ProximaNova-Regular";
    width: 100%;
    border-radius: 6px;
    border: none;
    outline: none;
     padding: 1rem;
}

.xxl {
    font-weight: bold;
    color: #FF5959;
    padding: 1rem;
    font-size: 1.7rem;
    
}
.fa-solid{
    display: none;
}
.ms{
    height: 11rem;
}
.from-group button{
    width: 100%;
    border: 4px solid var(--primary-color);
    outline: none;
    background-color: #D0584B;
    background-color: var(--primary-color);
    color: #fff;
}
@media (max-width: 1200px) {
    .commnets--img, 
    .commnets--imgs {
        padding-left: 75px;
        height: 90px;
        width: auto;
    }
}
@media (max-width:867px) {
    .content{
        padding: 0;
        height: 300px;
    }
    .coment-tym {
        margin-right: 25px;
    }
    .content__title{
        font-size: 3rem;
        margin-bottom: 17px;
        padding-top: 7rem;
    }
    .content span{
        font-size: 20px;
        margin-bottom: 3rem;
    }
    .commnets--img, 
    .commnets--imgs {
          padding-left: 5px;
    }
    .comments__pros {
         display: flex;
         margin-left: 0;
    }
    .comments--title{
        margin-left: 0;
        text-align: center;
        font-size: 2.6rem;
        margin-bottom: 4rem;
    }
    .link__share{
        padding-right: 5px;
    }
    .content__poster{
        padding: 2rem;
    }
    .poster__heading{
        font-size: 3.1rem;
        padding-top: 2.5rem;
    }
    .poster--bg p{
       text-align: justify;
    }
    .poster--bg b{
        font-size: 2.1rem;
        font-style: italic;
    }
    .comments__list{
        display: flex;
        justify-content: space-between;
    }
    .list--icon__item{
        padding-left: 0px;
    }
    .list--link__list{
        padding-right: 1rem;
    }
    .commnets--img{
        /* width: 15%; */
        height: 90px;
    }
    .comments{
        padding: 1rem;
    }
    .comment__maxpain{
        width: 80%;
        overflow: hidden;
    }
    .comment__maxpain h2{
        padding-left: 10px;
        font-size: 2.9rem;
    }
    .commnets--p{
        text-align: justify;
    }
    .comments__pro:nth-child(4){
        width: 100%;
        padding-left: 0;
    }
    .box{
        padding-left: 0;
    }
 }
 @media(max-width: 480px){
    .comments--title{
        font-size: 2.1rem;
        padding-left: 0;
    }
    .comments {
        padding: 0;
    }
    .comments__pro {
        display: block;
    }
    .commnets--img {
        padding-left: 0;
        height: 90px;
        margin: auto;
        width: auto;
    }
    .comments__pros {
        
        display: none;
    }
    .form{
        padding: 0 20px;
        display: block;
    }
    .from-group {
        padding-left: 6px;
        padding-bottom: 6px;
        padding: 0px;
        height: 4rem;
        margin-top: 2rem;
    }
    .ms{
        height: 11rem;
    }
 }