
/*Import Fonts*/
@font-face {
    font-family: 'ProximaNova-RegularIt';
    src: url('../fonts/ProximaNova-RegularIt.eot');
    src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-RegularIt.woff2') format('woff2'),
         url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
         url('../fonts/ProximaNova-RegularIt.ttf') format('truetype'),
         url('../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
         url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova-LightIt';
    src: url('../fonts/ProximaNova-LightIt.eot');
    src: url('../fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-LightIt.woff2') format('woff2'),
         url('../fonts/ProximaNova-LightIt.woff') format('woff'),
         url('../fonts/ProximaNova-LightIt.ttf') format('truetype'),
         url('../fonts/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Light.woff2') format('woff2'),
         url('../fonts/ProximaNova-Light.woff') format('woff'),
         url('../fonts/ProximaNova-Light.ttf') format('truetype'),
         url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova-BoldIt';
    src: url('../fonts/ProximaNova-BoldIt.eot');
    src: url('../fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-BoldIt.woff2') format('woff2'),
         url('../fonts/ProximaNova-BoldIt.woff') format('woff'),
         url('../fonts/ProximaNova-BoldIt.ttf') format('truetype'),
         url('../fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
         url('../fonts/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
         url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova-Black';
    src: url('../fonts/ProximaNova-Black.eot');
    src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Black.woff2') format('woff2'),
         url('../fonts/ProximaNova-Black.woff') format('woff'),
         url('../fonts/ProximaNova-Black.ttf') format('truetype'),
         url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
    font-weight: normal;
    font-style: normal;
  }

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    padding: 0px !important;
    margin: 0px !important;
    background: #fff !important;
    font-size: 16px;
    font-family: "ProximaNova-Bold", sans-serif;
    font-weight: normal;
}
:root{
    --primary-color: #FF5959;
    --p--color: #5B5B5B;
}
.bg{
    background-color: #ffffff;
}

.container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.sprites {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.quote-left {
    position: absolute;
    background-image: url(../imagas/Quote_mark_left@x1.png);
    width: 26px;
    height: 20px;
    margin-right: 21px;
}
.quote-right {
    position: absolute;
    background-image: url(../imagas/Quote\ mark\ right@1x.png);
    width: 26px;
    height: 20px;
    margin-right: 21px;
}
 .icon-arrow-top{
    background-image: url(../imagas/Scroll_button@1x.png);
    width: 52px;
    height: 32px;
}
/* ===========Heder======[] */
.nav{
    background-color: #fff;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 111;
    height: 80px;

}
.nav-header{
    background-color: #fff;
}
  nav .logo {
    padding: 15px;
    display: inline-block;
 
} 
  nav ul{

    padding: 31px 0;
    float: right;
  }
  nav ul li{
    margin-right: 31px;
}
nav ul> li {
    display: inline-block;
}
  nav ul li a{
    color: #646464;
    text-decoration: none !important;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "ProximaNova-Bold", sans-serif;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    padding: 3rem;
    color: var(--primary-color);
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 920px) {
    .container{
        width: unset;
    }
    nav .logo{
        margin-left: 7.5rem;
    }
    nav .menu-btn {
        position: absolute;
        right: 0;
        display: inline-block;
    }
    nav .menu-btn i{
      display: block;
      float: right;
    }
    /* #click:checked ~ .menu-btn i:before{
      padding: 3rem;
      position: absolute;
      content: "\f00d";
    } */
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #FAFAFA;
      width: 100%;
      text-align: center;
      display: block;
      z-index: 999;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      /* margin: 40px 0; */
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: -10%;
    }
    nav ul li a:hover{
      background: none;
      color: var(--primary-color);
    }
  }


/* end header */

/* strart banner  */
.banner{
    height: 636px;
    margin-top: 80px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
     
.banner video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover ;
}
.banner__container{
    width: 100%;
    z-index: 1;
    position: absolute;
    margin-top: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
.banner__title{
    margin-bottom: 83px;
    align-items: center;
}
.banner__title h1{
    font-size: 67px;
    font-weight: 700;
    font-family: "ProximaNova-Bold", sans-serif;
    color: #FFFFFF;
}
.banner__title h2{
    color: #FFFFFF;
    font-weight: 300;
    font-family: "ProximaNova-Light",sans-serif;
    font-size: 24px;
    text-align: center;
}
.banner__logo{
    text-align: center;
    display: flex;
    height: 55px;
    margin-left: p;
    text-align: center;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.banner__logo a{
    margin: 1rem;
}
.btn{
    background-color: var(--primary-color);
    color: #FFFFFF;
    font-family: "ProximaNova-Regular", sans-serif;
    height: 54px;
    border: 40px;
    border-radius: 40px;
    margin-bottom: 45px;
    width: 246px;
    font-size: 15px;
    cursor: pointer;
}
/* end banner  */

/* start content  */
.content{
    width: 100%;
    height: 550px;
    height: auto;
    display: flex;
   
}
.section-text.pull-right {
    width: 50%;
    
}
.section{
    width: 60%;
    padding: 53px;
}
.img{
    width: 50%;
    position: relative;
}
.section-text h2{
    color: var(--primary-color);
    font-size: 41px;
    margin-bottom: 20px;
}
.section-text p {
    text-align: justify;
    font-family: "ProximaNova-LightIt";
    color: #575757;
    line-height: 1.6;
    color: var(--p--color);
    padding: 34px 0 42px;
}
.media {
    display: flex;
}
.media-left {
    margin-right: 43px;
}
.media-object {
    max-width: unset;
}
.media-body span {
    display: inline-block;
    padding-right: 5%;
}
/* ============$$$ */
.content__section{
    min-height: 100%;
    object-fit: cover;
}
.content__section img{
    
    width: 100%;
    object-fit: cover;
}
/* end content  */


/* start call to action  */

.call__to--action{
    width: 100%;
    height: auto;
}
.call__bg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    width: 100%;
    height: 347px;
}
.call__layout{
    width: 100%;
    margin-top: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.call__heading{
    margin-bottom: 57px;
    margin-top: 20px;
}
.call__heading h2{
    font-size: 41px;
    text-align: center;
    font-weight: 500;
    color: var(--primary-color);
    font-family: "ProximaNova-Bold",sans-serif;
    line-height: 137%;
}
.call__heading p{
    text-align: center;
    margin-top: 21px;
    height: 30px;
    font-size: 24px;
    color: #646464;
    font-family: 'ProximaNova-Light',sans-serif ;

}
.call__logo{
    display: flex;
    height: 55px;
    margin-bottom: 81px;
}
.logo1{
    margin-right: 12px;
}
.logo2{
    margin-left: 12px;
}


.call__text{
    position: absolute;
    top: 53px;
    z-index: 1;
    height: 510px;
    width: 513px;
}
.call__text img{
    width: 100%;
    margin-top: 58px;   
}

/* end call to action  */

/* strart footer  */
footer {
    padding-top: 20px;
    width: 100%;
    background: #FAFAFa;
    height: 397px;
}

.contact{
    text-align: center;
}
.contact__icon {
    display: flex;
    font-size: 56px;
    margin-top: 66px;
    margin-bottom: 69px;
    justify-content: center;
}
.contact__icon a {
    padding: 5px;
    cursor: pointer;
    color: #5B5B5B;
}
.contact span{
    font-family: "ProximaNova-Light";
    margin-bottom: 59px;
    font-size: 15px;
    line-height: 119%;

}
.contact p{
    margin: 60px;
}
/* end footer */
@media  (max-width:1124px) {

    .section__title .icon{
        left: 23px;
        top: 25px;
        width: 80px;
    }
}
@media (max-width: 992px) {

    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .img{
        overflow: hidden;
        width: 100%;
        margin-top: 20px;
    }
    .section {
        padding: 0px;
    }
    .section-text.pull-right {
        padding: 15px;
        width: unset;
    }
    .img:nth-child(eveb){
        order: 1;
    }
    .section-text:nth-child(odd){
        order: 2;
    }
    .rs{
        margin-top: 0px !important;
    }
    .hidden-m{
        display: none;
    }
    .banner__title h1{
        margin-top: 80px;
        font-size: 2.5rem;
    }
    .banner__title h2{
        margin-top: 2rem;
    }
    .content{
        display: block;
    }
    .content__section,
    .section{
        width: 100%;
    }
    .section__title{
        display: flex;
        justify-content: space-around;
    }
    .section__title .icon{
        left: 45px;
        margin-bottom: 0;
    }

    .call__heading h2{
        font-size: 3.5rem;
        text-align: center;
    }
    .call__text{
        width: auto;
    }
    .call__heading p{
        text-align: center;
        display: block;
        font-size: 24px;
        margin-top: 0px;
        padding-top: 20px;
    }

}
@media   (max-width: 480px) {
   nav .logo{
       margin-left: 1rem;
   }
   .media-left {
    margin-right: 32px;
   }
   .banner video{
    margin-top: 0px;
   }
   .banner__title{
    margin-bottom: 2rem;
   }
   .banner__title h1 {
    margin-top: 0;
    font-size: 4em;
    }
    .banner__logo{
        margin-bottom: 1rem;

    }
    
    .btn{
        width: 240px;
        font-size: 22px;
        padding: 4% 7% 5%;
        margin-top: 20px;
        border-radius: 400px;
    }
    .call__bg{
        height: 200px;
    }
    .section {
        margin-bottom: 2rem;
    }
    .section__heading{
        padding: 5rem 0 0 1rem;
    }
    .section__heading h2{
        font-size: 3rem;
    }
    .section__title{
        display: none;
    }
   .call__text{
    top: 55px;
    height: 240px;
   }
   .call__layout{
    margin-top: 130px;
   }
   .rs{
    margin-top: 0px !important;
}
}
